#~/Downloads/clusterawsadm bootstrap iam create-cloudformation-stack --region us-west-2
#export AWS_B64ENCODED_CREDENTIALS=$(clusterawsadm bootstrap credentials encode-as-profile)
export AWS_REGION=us-west-2

export EKS=true
export EXP_MACHINE_POOL=true 
export CAPA_EKS_IAM=true

export AWS_SSH_KEY_NAME=capi-eks
