export AWS_ACCESS_KEY_ID=AKIA6BVTS3NBYX4ISI62
export AWS_SECRET_ACCESS_KEY=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
export AWS_REGION=us-west-2

# #~/Downloads/clusterawsadm bootstrap iam create-cloudformation-stack --region us-west-2
# #export AWS_B64ENCODED_CREDENTIALS=$(clusterawsadm bootstrap credentials encode-as-profile)
# alias clusterawsadm=~/Downloads/clusterawsadm
# alias clusterctl=~/Downloads/clusterctl
# #clusterawsadm bootstrap iam create-cloudformation-stack --region us-east-1
# export AWS_B64ENCODED_CREDENTIALS=$(clusterawsadm bootstrap credentials encode-as-profile)

# export EXP_MACHINE_POOL=true

# export AWS_REGION=us-east-1
# export AWS_SSH_KEY_NAME=capi-eks
# export CAPA_EKS_IAM=true

# #https://cluster-api-aws.sigs.k8s.io/topics/eks/enabling.html
# # RUN clusterctl init --infrastructure aws after 


# #needed for 
# aws ec2 create-key-pair --key-name capi-eks --region us-east-1 --query 'KeyMaterial' --output text > capi-eks.pem
# clusterctl generate cluster capi-eks --flavor eks-managedmachinepool --kubernetes-version v1.22.6 --worker-machine-count=2 > ./capi-cluster/aws-eks/capi-eks.yaml

#export AWS_CONTROL_PLANE_MACHINE_TYPE=t3.large
#export AWS_NODE_MACHINE_TYPE=t3.large

# export VPC_ADDON_VERSION="v1.10.2-eksbuild.1"

# export EKS=true
# export EXP_MACHINE_POOL=true
# export EKS=true
# export EXP_MACHINE_POOL=true 
# #waht is this
# export CAPA_EKS_IAM=true
# export AWS_CONTROL_PLANE_MACHINE_TYPE=t3.large
# export AWS_NODE_MACHINE_TYPE=t3.large
# export AWS_SSH_KEY_NAME=capi-eks
# #export EXP_EKS=true
# #export EXP_CLUSTER_RESOURCE_SET=true

# export EXP_EKS=true
# export EXP_EKS_IAM=true 
# export EXP_EKS_ADD_ROLES=true

#kubectl --kubeconfig=./capi-quickstart.kubeconfig get nodes

#~/Downloads/clusterctl generate cluster workload1 --kubernetes-version v1.22.6 --control-plane-machine-count=3  --worker-machine-count=3  ./management/workload1.yaml